.hero-section {
  height: 500px;
}

.hero-image {
  max-height: 500px;
  object-fit: cover;
}

.card {
  flex-direction: row;
  margin: 15px auto;
}
.card img {
  width: 35%;
  height: auto;
}

.card-body {
  width: 25%;
}

.city-detail-img {
  width: 70%;
  height: auto;
}

.profile-list-img-container {
  width: 40%;
  height: auto;
}

.profile-detail-img-container {
  width: 50%;
  height: auto;
}

.post-small-img-container {
  width: 40%;
  height: auto;
}

.fieldWrapper {
  margin: 10px auto;
}

.fieldWrapper input {
  width: 80%;
}