@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Ubuntu&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

p,
a {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: 18px;
}

a {
  color: rgb(44, 105, 150);
}

a:hover {
  color: #bcc2bd;
}

.btn-success:hover {
  background-color: rgb(12, 83, 3);
}

.btn-danger:hover {
  background-color: rgb(94, 8, 8);
}

.btn-primary:hover {
  background-color: rgb(50, 55, 114);
}
.hero-section {
  height: 500px;
}

.hero-image {
  max-height: 500px;
  object-fit: cover;
}

.card {
  flex-direction: row;
  margin: 15px auto;
}
.card img {
  width: 35%;
  height: auto;
  object-fit: cover;
}

.city-list-card-img {
  width: 45% !important;
  height: auto;
  object-fit: cover;
}

.card-body {
  width: 25%;
}

.city-detail-img {
  width: 70%;
  height: auto;
}

.profile-list-img-container {
  width: 40%;
  height: auto;
}

.profile-detail-img-container {
  width: 50%;
  height: auto;
}

.post-small-img-container {
  width: 40%;
  height: auto;
}

.fieldWrapper {
  margin: 10px auto;
}

.fieldWrapper input {
  width: 80%;
}

.profile-circle-img {
  width: 125px !important;
  height: 125px !important;
  object-fit: cover !important;
}

/* .navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
} */
