{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block
content%}
<div class="container hero-section mt-5">
  <div class="card" style="width: 20em">
    <div class="card-body">
      <h3 class="card-title">Login</h3>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-primary" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
  <div class="mt-4" style="text-align: center">
    <h6>
      Don't have an account yet? <a href="{% url 'signup' %}">Sign up here</a>
    </h6>
  </div>
</div>
{% endblock %}
