{% extends 'base.html' %}
<!-- comment -->
{% block title %}About{% endblock %}
<!-- comment -->
{% block content%}
<div class="h-50">
  <img
    src="https://media.self.com/photos/5f0885ffef7a10ffa6640daa/8:3/w_5887,h_2207,c_limit/travel_plane_corona.jpeg"
    alt=""
    class="d-block w-100 hero-image"
  />
</div>
<div class="container mt-5">
  <h1 class="text-center mb-5">About Nomad Atlas</h1>
  <p class="mb-5">
    We work hard to bring you the latest and greatest travel tips for all your
    favorite cities! Support the community and tell us what you know about your
    favorite cities!
  </p>
</div>
{% endblock %}
