{% extends 'base.html' %}
<!-- comment -->
{% block title %}About{% endblock %}
<!-- comment -->
{% block content%}
<div class="h-50">
  <img
    src="https://media.self.com/photos/5f0885ffef7a10ffa6640daa/8:3/w_5887,h_2207,c_limit/travel_plane_corona.jpeg"
    alt=""
    class="d-block w-100 hero-image"
  />
</div>
<div class="container mt-5">
  <h1 class="text-center">About Nomad Atlas</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at pharetra
    leo. Pellentesque aliquam porta odio, in tincidunt enim consequat nec.
    Phasellus iaculis mi sapien, facilisis iaculis massa consectetur vulputate.
    Praesent efficitur efficitur aliquet. Sed congue leo in libero sodales, a
    ultrices ex porta. Nunc dolor ligula, iaculis vitae velit vestibulum,
    dignissim ultrices arcu. Nam consectetur augue sed scelerisque facilisis.
    Mauris sit amet auctor ex, et tristique est.
  </p>
</div>
{% endblock %}
