<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <title>Nomad Atlas - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top text-light sticky-top"
    >
      <!-- <div class="container-fluid"> -->
      <a class="navbar-brand px-3" style="font-size: 30px" href="/">
        <i
          class="fas fa-globe me-3"
          aria-hidden="true"
          style="user-select: auto"
        ></i>
        Nomad Atlas</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-reset" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-reset" href="{% url 'city_list'%}"
              >Cities</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-reset" href="{% url 'profile_list'%}"
              >Nomads</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-reset" href="{% url 'post_list'%}">Posts</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link text-reset"
              href="{% url 'profile_detail' user.profile.pk %}"
            >
              Welcome {{user.first_name }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-reset" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-reset" href="{% url 'signup' %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-reset" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- </div> -->
    </nav>
    <div>{% block content %}{% endblock %}</div>
    <footer class="text-center text-lg-start bg-dark text-light">
      <section>
        <div
          class="container text-center text-md-start mt-5 p-4"
          style="user-select: auto"
        >
          <div class="row mt-3" style="user-select: auto">
            <div
              class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"
              style="user-select: auto"
            >
              <h6
                class="d-flex align-items-center text-uppercase fw-bold mb-4"
                style="user-select: auto"
              >
                <i
                  class="fas fa-globe fa-3x me-3"
                  aria-hidden="true"
                  style="user-select: auto"
                ></i
                >Nomad Atlas
              </h6>
              <p style="user-select: auto">
                We work hard to bring you the latest and greatest travel tips
                for all your favorite cities! Support the community and tell us
                what you know about your favorite cities!
              </p>
            </div>
            <div
              class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"
              style="user-select: auto"
            >
              <h6 class="text-uppercase fw-bold mb-4" style="user-select: auto">
                Destinations
              </h6>
              <p style="user-select: auto">
                <a
                  href="/cities/1/"
                  class="text-reset"
                  style="user-select: auto"
                  >San Francisco</a
                >
              </p>
              <p style="user-select: auto">
                <a
                  href="/cities/2/"
                  class="text-reset"
                  style="user-select: auto"
                  >New York City</a
                >
              </p>
              <p style="user-select: auto">
                <a
                  href="/cities/4/"
                  class="text-reset"
                  style="user-select: auto"
                  >Paris</a
                >
              </p>
              <p style="user-select: auto">
                <a
                  href="/cities/8/"
                  class="text-reset"
                  style="user-select: auto"
                  >Tokyo</a
                >
              </p>
            </div>
            <div
              class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"
              style="user-select: auto"
            >
              <h6 class="text-uppercase fw-bold mb-4" style="user-select: auto">
                Contact Us
              </h6>
              <p style="user-select: auto">
                <i
                  class="fas fa-home me-3"
                  aria-hidden="true"
                  style="user-select: auto"
                ></i
                >New York, New York
              </p>
              <p style="user-select: auto">
                <i
                  class="fas fa-envelope me-3"
                  aria-hidden="true"
                  style="user-select: auto"
                ></i>
                nomadatlas@example.com
              </p>
              <p style="user-select: auto">
                <i
                  class="fas fa-phone me-3"
                  aria-hidden="true"
                  style="user-select: auto"
                ></i>
                +1 (718) 123-1234
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="text-center p-4" style="user-select: auto">
        © 2022
        <a class="text-reset fw-bold" href="/" style="user-select: auto"
          >NomadAtlas.com</a
        >
      </div>
    </footer>
  </body>
</html>
