{% extends 'base.html' %}
<!-- comment -->
{% block title %}Cities{% endblock %}
<!-- comment -->
{% block content%}
<div class="row bg-dark text-light">
  <h1 class="text-center mt-5">Explore Cities</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      {% for city in cities %}
      <div class="card">
        <img src="{{city.img}}" class="card-img city-list-card-img" alt="{{city.name}}" />
        <div class="card-body">
          <div class="card-title">
            <h2>{{city.name}}, {{city.country}}</h2>
            <a
              href="{% url 'city_detail' city.pk %}"
              type="button"
              class="btn btn-primary stretched-link"
            >
              View {{city.name}} posts</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}
