{% extends 'base.html' %}
<!-- comment -->
{% block title %}{{ city.name }}{% endblock %}
<!-- comment -->
{% block content%}
<div class="container mt-5">
  <h1>{{city.name}}</h1>
  <div class="row">
    <div class="col-9">
      {% for post in city.posts.all %}
      <div class="card">
        <img src="{{post.img}}" class="card-img" alt="{{post.title}}" />
        <div class="card-body">
          <small>
            {{post.author}} · published from: {{ post.city }} on
            {{post.created_at}}</small
          >
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text"></p>
          <p>{{post.content}}</p>
          <a
            href=" {% url 'post_detail' post.pk %}"
            type="button"
            class="btn btn-primary"
          >
            Read Post
          </a>
        </div>
      </div>
      {% empty %}
      <p>No posts for city</p>
      {% endfor %}
    </div>
    <div class="col-3">
      <img src="{{city.img}}" class="card-img" alt="{{city.name}}" />
      <small>{{city.name}}</small>
    </div>
  </div>
</div>
<footer class="text-center text-lg-start bg-light text-dark">
  <section>
    <div
      class="container text-center text-md-start mt-5 p-4"
      style="user-select: auto"
    >
      <div class="row mt-3" style="user-select: auto">
        <div
          class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"
          style="user-select: auto"
        >
          <h6
            class="d-flex align-items-center text-uppercase fw-bold mb-4"
            style="user-select: auto"
          >
            <i
              class="fas fa-globe fa-3x me-3"
              aria-hidden="true"
              style="user-select: auto"
            ></i
            >Nomad Atlas
          </h6>
          <p style="user-select: auto">
            We work hard to bring you the latest and greatest travel tips for
            all your favorite cities! Support the community and tell us what you
            know about your favorite cities!
          </p>
        </div>
        <div
          class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"
          style="user-select: auto"
        >
          <h6 class="text-uppercase fw-bold mb-4" style="user-select: auto">
            Destinations
          </h6>
          <p style="user-select: auto">
            <a href="/cities/1/" class="text-reset" style="user-select: auto"
              >San Francisco</a
            >
          </p>
          <p style="user-select: auto">
            <a href="cities/2/" class="text-reset" style="user-select: auto"
              >New York City</a
            >
          </p>
          <p style="user-select: auto">
            <a href="cities/4/" class="text-reset" style="user-select: auto"
              >Paris</a
            >
          </p>
          <p style="user-select: auto">
            <a href="cities/8/" class="text-reset" style="user-select: auto"
              >Tokyo</a
            >
          </p>
        </div>
        <div
          class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"
          style="user-select: auto"
        >
          <h6 class="text-uppercase fw-bold mb-4" style="user-select: auto">
            Contact Us
          </h6>
          <p style="user-select: auto">
            <i
              class="fas fa-home me-3"
              aria-hidden="true"
              style="user-select: auto"
            ></i
            >New York, New York
          </p>
          <p style="user-select: auto">
            <i
              class="fas fa-envelope me-3"
              aria-hidden="true"
              style="user-select: auto"
            ></i>
            nomadatlas@example.com
          </p>
          <p style="user-select: auto">
            <i
              class="fas fa-phone me-3"
              aria-hidden="true"
              style="user-select: auto"
            ></i>
            +1 (718) 123-1234
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="user-select: auto">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#" style="user-select: auto"
      >Nomadatlas.com</a
    >
  </div>
</footer>
{% endblock %}
