{% extends 'base.html' %}
<!-- comment -->
{% block title %}{{ city.name }}{% endblock %}
<!-- comment -->
{% block content%}
<div class="container mt-5">
  <h1>{{city.name}}</h1>
  <div class="row">
    <div class="col-9">
      {% for post in city.posts.all %}
      <div class="card">
        <img src="{{post.img}}" class="card-img" alt="{{post.title}}" />
        <div class="card-body">
          <small>
            {{post.author}} · published from: {{ post.city }} on
            {{post.created_at}}</small
          >
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text"></p>
          <p>{{post.content}}</p>
          <a
            href=" {% url 'post_detail' post.pk %}"
            type="button"
            class="btn btn-primary"
          >
            Read Post
          </a>
        </div>
      </div>
      {% empty %}
      <p>No posts for city</p>
      {% endfor %}
    </div>
    <div class="col-3">
      <img src="{{city.img}}" class="card-img" alt="{{city.name}}" />
      <small>{{city.name}}</small>
    </div>
  </div>
</div>
{% endblock %}
