{% extends 'base.html' %}
<!-- comment -->
{% block title %} {{post.title}} {% endblock %}
<!-- comment -->
{% block content%}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{post.img}}" class="card-img mb-3 mt-5" alt="{{post.title}}" />
      <h1 class="text-center">{{post.title}}</h1>
      <p>Written by: <strong>{{post.author}}</strong></p>
      <small>Published from: {{ post.city }} on {{post.created_at}}</small>
      <div class="mt-4">
        <p>{{ post.content }}</p>
      </div>
      <div>
        <a
          href="{% url 'post_update' post.pk %}"
          type="button"
          class="btn btn-primary"
          >Update Post</a
        >
        <a
          href="{% url 'post_delete' post.pk %}"
          type="button"
          class="btn btn-danger"
          >Delete Post</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
