{% extends 'base.html' %}
<!-- comment -->
{% block title %}Posts{% endblock %}
<!-- comment -->
{% block content%}
<div class="row bg-dark text-light">
  <h1 class="text-center mt-5">Posts</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      {% for post in posts %}
      <div class="card">
        <img src="{{post.img}}" class="card-img" alt="{{post.title}}" />
        <div class="card-body">
          <small>
            {{post.author}} · from: {{ post.city }} on
            {{post.created_at}}</small
          >
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text"></p>
          <p>{{post.content}}</p>
          <a
            href=" {% url 'post_detail' post.pk %}"
            type="button"
            class="btn btn-primary"
          >
            Read Post
          </a>
        </div>
      </div>
      {% empty %}
      <p>No posts for city</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
