{% extends 'base.html' %} {% block title %}{{ profile }}{% endblock %}
<!-- comment for space -->
{% block content%}
<div class="container mt-5">
  <h1>{{ profile }}</h1>
    <div class="row">
      <div class="col-9">
        {% for post in profile.user.posts.all %}
        <div class="card">
          <div class="card-body">
            <small> Posted from: {{ post.city }} on {{post.created_at}}</small>
            <h3>{{ post.title }}</h3>
            <p>"{{ post.content|truncatechars:200 }}"</p>
            <a
              href=" {% url 'post_detail' post.pk %}"
              type="button"
              class="btn btn-primary stretched-link"
            >
              Read Post
            </a>
          </div>
          <img
            src="{{ post.img }}"
            class="card-img"
            alt="{{ post.city}} post image"
          />
        </div>
        {% empty %}
        <p>No posts by this user</p>
        {% endfor %}
      </div>
      <div class="col-3">
        <img
          src="{{ profile.img }}"
          class="img profile-circle-img rounded-circle"
          alt="{{ profile.user.username }}"
        />
        <div class="mt-4">
          <p>
            @{{ profile.user.username }}
            <br />
            <strong> Current City:</strong>
            <br />{{ profile.current_city }}
            <br />
            <strong>About Me:</strong>
            <br />"{{ profile.bio }}"
            <br>
            <strong>Joined:</strong>
            <br>{{profile.created_at}}<br>
            <strong>Comment Activity:</strong>
            <br>{{ profile.user.first_name }} has made {{ profile.user.comments.count }} comments.
          </p>
          {% if request.user == profile.user %}
          <a href="{% url 'post_create' %}" type="button" class="btn btn-primary">Create New Post</a>
          {% endif %}
          <br>
          <br>
          {% if request.user == profile.user %}
          <a href="{% url 'profile_update' user.profile.pk %}" type="button" class="btn btn-success mt-2">Update Profile</a>
          <a href="{% url 'profile_delete' user.profile.pk %}" type="button" class="btn btn-danger mt-2">Delete Profile</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
