{% extends 'base.html' %} 
{% block title %}{{ profile }}{% endblock %}
<!-- comment for space -->
{% block content%}
<div class="container mt-5">
  <h1>{{ profile }}</h1>
  <div class="container">
    <div class="row">
      {% for post in profile.user.posts.all %}
      <div class="col-10">
        <div class="card">
          <div class="card-body">
            <small> Posted from: {{ post.city }} on {{post.created_at}}</small>
            <h3>{{ post.title }}</h3>
            <p>"{{ post.content }}"</p>
            <a
              href=" {% url 'post_detail' post.pk %}"
              type="button"
              class="btn btn-primary"
            >
              Read Post
            </a>
          </div>
          <img
            src="{{ post.img }}"
            class="card-img"
            alt="{{ post.city}} post image"
          />
        </div>
        {% empty %}
        <p>No posts by this user</p>
        {% endfor %}
      </div>
      <div class="col-2">
        <img
          src="{{ profile.img }}"
          class="img rounded-circle"
          style="width: 125px; height: 125px"
          alt="{{ profile.user.username }}"
        />
        <div class="mt-4">
          <p>
            @{{ profile.user.username }}
            <br />
            <strong> Current City:</strong>
            <br />{{ profile.current_city }}
            <br />
            <strong>About Me:</strong>
            <br />"{{ profile.bio }}"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
