{% extends 'base.html' %} 
{% block title %}Nomads{% endblock %}
<!-- comment -->
{% block content%}
<div class="row bg-dark text-light">
  <h1 class="text-center mt-5">Meet Your Fellow Nomads</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        {% for profile in profiles %}
        <div class="card">
            <img src="{{ profile.img }}" class="card-img" alt="{{ profile.user.username }}" />
            <div class="card-body">
            <p class="card-text">
                <h5>{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                <p>Current City: {{ profile.current_city }}
                <br>
                @{{ profile.user.username }}</p>
            </p>
            <a
                href="{% url 'profile_detail' profile.pk %}"
                type="button"
                class="btn btn-primary">
                View {{ profile.user.username }}'s
                profile</a
            >
            </div>
        </div>
        {% empty %}
        <p>No posts for city</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
